* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #f6f8fc;
}

.content {
  width: 100vw;
  height: 100vh;
  padding: 1rem;

  background-color: white;
}

.normal {
  background-color: #A6A877
}

.grass {
  background-color: #77C850
}

.fire {
  background-color: #EE7F30
}

.water {
  background-color: #678FEE
}

.electric {
  background-color: #F7CF2e
}

.ice {
  background-color: #98D5D7
}

.ground {
  background-color: #DFBF69
}

.flying {
  background-color: #A98FF0
}

.poison {
  background-color: #A040a0
}

.fighting {
  background-color: #BF3029
}

.psychic {
  background-color: #F65687
}

.dark {
  background-color: #725847
}

.rock {
  background-color: #B8A137
}

.bug {
  background-color: #A8B720
}

.ghost {
  background-color: #6e5896
}

.steel {
  background-color: #B9B7CF
}

.dragon {
  background-color: #6F38F6
}

.fairy {
  background-color: #F9AEC7
}

.pokemons {
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: 1fr;

  list-style: none;
}

.pokemon {
  margin: .5rem;
  padding: 1rem;

  display: flex;
  flex-direction: column;

  color: white;

  border-radius: 1rem;
}

.number {
  color: black;
  opacity: .3;

  text-align: right;
  font-size: .625rem;
}

.name {
  margin-bottom: 0;
  text-transform: capitalize;
}

.detail {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;
}

.detail .types {
  padding: 0;
  margin: 0;

  list-style: none;
}

.detail .types .type {
  margin: .25rem 0;
  padding: .25rem .5rem;

  font-size: .625rem;
  text-align: center;

  border-radius: 1rem;
  filter: brightness(1.1);
}

.detail img {
  max-width: 100%;
  height: 100px;
}

.pagination {
  width: 100%;
  padding: 1rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.pagination button {
  padding: .5rem 1rem;

  color: white;
  font-size: .625rem;
  
  border: none;
  border-radius: 1rem;
  background-color: #6C79DB;

  cursor: pointer;
}

@media screen and (min-width: 380px) {
  .pokemons {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 576px) {
  .pokemons {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 992px) {
  .content {
    max-width: 992px;
    height: auto;
    margin: 1rem auto;

    border-radius: 1rem;
  }

  .pokemons {
    grid-template-columns: repeat(4, 1fr);
  }
}